name: Deploy Frontend to Azure Web App - jobwatch-web1

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"

      - name: Install & Build (Frontend)
        working-directory: ./frontend
        run: |
          npm install
          npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-dist

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "jobwatch-web1"
          package: ./frontend-dist
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_AC03F5AAAD9D4EAE8722D51306B5CB9D }}
